body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #4CAF50;
    padding: 20px;
    text-align: center;
    color: black;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    margin: 0.5em 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

ul li a {
    color: #333;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}




/* vista-api.html */
#vocaloid-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

.vocaloid-item {
    width: 30%;
    margin-bottom: 20px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

.vocaloid-item h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.vocaloid-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}